@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* .container { */
  /* background-color: rgb(168, 134, 134); */
/* } */
.form {
  display: flex;
  flex-direction: column;  
  align-items: center; 
  height: 100vh;
 
}
.form label {
  color: rgb(68, 27, 165) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 15px !important;
}
h1 {
  margin-top:20px; 
  font-family: "Montserrat", sans-serif;
  color: rgb(11, 21, 105);
  text-align: center;
}