@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.main {
  font-family: "Montserrat", sans-serif;
}
.form label {
  color: rgb(68, 27, 165) !important;  
  font-size: 15px !important;
}
h1 {
  text-align: center;
  margin-top:20px;
   font-family: "Montserrat", sans-serif;
  color: rgb(24, 20, 233);
  
}